@import '_colors.scss';

body {
    min-height: 90vh;
    background-color: $lightblue;
}

#drum-machine {
    max-width: 90vw;
    padding: 3rem;
    background: $lightrose;
    border-radius: 25px;
    margin: 4rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}